body{
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}
h5{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 35px;

}
.card-img-top{
    display: block;
    margin: auto;
    
}

.card-img{
    display: block;
    margin: auto;
    padding: 75px 75px;
    background-color: ghostwhite;
    border-radius: 1rem;
}

a{
     color: rgb(3, 142, 184);
 }
p{
    color: hsl(220, 15%, 55%);;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0 40px;
    
}

.card{
    background-color: hsl(0, 0%, 100%);
    margin: 20% auto 0 auto;
    border-radius: 1rem;
    position: absolte;
}

.tagSmall{
    margin: 50px auto 0 auto;
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif;
}